.wrapper {
  overflow-x: hidden;
  .content {
    h1 {
      text-align: center;
      font-weight: 400;
    }
    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media only screen and (max-width: 380px) {
        margin-top: 15px;
      }

      button {
        padding: 10px;
        cursor: pointer;

        &:active {
          transform: scale(1.01);
        }
      }

      .shop {
        background-color: transparent;
        border: 3px solid black;
        font-weight: 600;
        margin-left: 30px;
        @media only screen and (max-width: 380px) {
          margin-left: 20px;
        }
      }

      .checkout {
        background-color: black;
        color: white;
        border: 3px solid black;
        font-weight: 600;
        margin-right: 30px;
        @media only screen and (max-width: 380px) {
          margin-right: 20px;
        }
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        span {
          text-decoration: underline;
          cursor: pointer;
        }
        @media only screen and (max-width: 380px) {
          display: none;
        }
      }
    }

    .emptyCart {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        margin-left: 100px;
        @media only screen and (max-width: 380px) {
          width: 350px;
          height: 250px;
          margin-left: 45px;
        }
      }

      h2 {
        font-weight: 700;
        color: rgba(255, 44, 84, 0.8);
        @media only screen and (max-width: 380px) {
          font-size: 25px;
        }
      }

      p {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
        margin: 20px;
        @media only screen and (max-width: 380px) {
          text-align: center;
        }
      }

      button {
        padding: 10px 50px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #4895ef;
        cursor: pointer;
        color: #fff;
        font-size: 15px;
        transition: all 0.5s;
        margin-top: 5px;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .empty {
      display: none;
    }

    .bag {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      @media only screen and (max-width: 380px) {
        flex-direction: column;
        gap: 20px;
      }

      .info {
        flex: 3;

        .product {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          border-bottom: 1px solid lightgrey;
          position: relative;
          @media only screen and (max-width: 380px) {
            flex-direction: column;
            gap: 20px;
          }

          .deleteBtn {
            position: absolute;
            top: 0px;
            right: 20px;
            button {
              background-color: transparent;
              border: none;
              outline: none;
              font-size: 20px;
              cursor: pointer;
            }
          }

          .productDetail {
            flex: 2;
            display: flex;
            @media only screen and (max-width: 380px) {
              flex-direction: column;
              align-items: center;
              gap: 20px;
              span {
                font-size: 20px;
              }
            }

            img {
              width: 300px;
              height: 300px;
              object-fit: cover;
            }

            .detail {
              padding: 20px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 20px;

              .colorContainer {
                display: flex;
                align-items: center;
                gap: 5px;
                .color {
                  margin-top: 3px;
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                }
              }
            }
          }

          .priceDetail {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            .AmountContainer {
              display: flex;
              align-items: center;

              button {
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                @media only screen and (max-width: 380px) {
                  transform: scale(1.5);
                  margin: 0 13px;
                }
              }

              span {
                width: 30px;
                height: 30px;
                border-radius: 10px;
                border: 1px solid teal;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 800;
                cursor: default;
                @media only screen and (max-width: 380px) {
                  width: 50px;
                  height: 50px;
                  border-radius: 20px;
                }
              }
            }

            .priceContainer {
              font-size: 20px;
              font-weight: 700;
              @media only screen and (max-width: 380px) {
                font-size: 30px;
              }
            }
          }
        }
      }

      .summary {
        flex: 1;
        border: 3px solid lightgrey;
        display: flex;
        height: 350px;
        flex-direction: column;

        h1 {
          margin-bottom: 20px;
          font-weight: 300;
          text-align: start;
          padding-left: 10px;
        }

        .order {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px 12px;

          p {
            font-size: 20px;
          }

          span {
            font-size: 20px;
          }
        }

        button {
          cursor: pointer;
          background-color: black;
          color: white;
          font-weight: 600;
          padding: 14px;
          margin: 3px 15px;
          border: none;

          &:hover {
            background-color: rgba(0, 0, 0, 0.8);
          }

          &:active {
            transform: scale(1.01);
          }
        }
      }
    }
  }
}
