.wrapper {
  min-width: 300px;
  margin: 5px;
  height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #edede9;
  @media only screen and (max-width: 380px) {
    margin-left: 30px;
  }

  img {
    height: 80%;
    z-index: 2;
  }

  .icons {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: background-color 0.5s ease;

    .icon {
      cursor: pointer;
      z-index: 3;
      background-color: #fff;
      padding: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.5s ease, background-color 0.5s ease;
      text-decoration: none;
      a {
        color: black;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
        transform: scale(1.1);
      }
      &:active {
        transform: scale(1.08);
        background-color: #4895ef;
      }
    }
  }

  &:hover {
    .icons {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.2);
    }

    .detail {
      opacity: 1;
    }
  }

  .detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    font-size: 13px;
    opacity: 0;
  }
}
